In [2]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Square root:\n",info.apply(np.sqrt))
print("\n Set of each column:\n",info.apply(np.sum,axis=0))
print("\n set of each row:\n",info.apply(np.sum,axis=1))

 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Set of each column:
 S    12
R    36
dtype: int64

 set of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [4]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print(info)
print(info.agg(['min','max']))

   x  y  z
0  2  4  6
1  1  3  5
2  5  8  7
     x  y  z
min  1  3  5
max  5  8  7

In [ ]:
import pandas as pd
import numpy as np
d2=pd.DataFrame([['sai',20],['vai',19]],columns=['Empname','ID'])
print(d2)
d2['Age']=[20,18]
print('\n adding new column:\n",