In [84]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [85]:
emp=pd.Series(['Uma','siva','sindhu','Ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n series to datafunction \n")
print(result)

 series to datafunction

      Emp  ID
0     Uma  10
1    siva  20
2  sindhu  30
3    Ravi  40

In [86]:
result['Age']=pd.Series([20,30,40,50])
print(result)

      Emp  ID  Age
0     Uma  10   20
1    siva  20   30
2  sindhu  30   40
3    Ravi  40   50

In [87]:
del result['Age']
print(result)

      Emp  ID
0     Uma  10
1    siva  20
2  sindhu  30
3    Ravi  40

In [88]:
print("Extracting the second row\n")
print(result.loc[1])

Extracting the second row

Emp    siva
ID       20
Name: 1, dtype: object

In [89]:
print("slice rows\n")
print(result[1:3])

slice rows

      Emp  ID
1    siva  20
2  sindhu  30

In [116]:
a2=pd.DataFrame([['ammu',20],['aishu',19]],columns=['Emp','ID'])
print(pd.concat([result,a2]))

      Emp  ID
0     Uma  10
1    siva  20
2  sindhu  30
3    Ravi  40
0    ammu  20
1   aishu  19

In [94]:
print(result.drop(2))

    Emp  ID
0   Uma  10
1  siva  20
3  Ravi  40