In [2]:
import pandas as pd
import numpy as np
info =pd.DataFrame([[3,9]]*4,columns=['S','R'])
print(info)
print(info.apply(np.sum,axis=0))
print(info.apply(np.sum,axis=1))
print(info.apply(np.sqrt))

   S  R
0  3  9
1  3  9
2  3  9
3  3  9
S    12
R    36
dtype: int64
0    12
1    12
2    12
3    12
dtype: int64
          S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

In [8]:
import pandas as pd
import numpy as np
a=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X',"Y",'Z'])
print(a)
print(a.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [4]:
d2=pd.DataFrame([["Sai",88],["Sanjai",70]],columns=['Name','Id'])
print(d2)
d2['Age']=[20,18]                 
print("\n",d2)
d2["Sex"]=['Male','Male']
print("\n",d2)

     Name  Id
0     Sai  88
1  Sanjai  70

      Name  Id  Age
0     Sai  88   20
1  Sanjai  70   18

      Name  Id  Age   Sex
0     Sai  88   20  Male
1  Sanjai  70   18  Male

In [5]:
d2=pd.DataFrame([["Sai",88],["Sanjai",70]],columns=['Name','Id'])
a=d2.assign(age=[20,18])
print(a)

     Name  Id  age
0     Sai  88   20
1  Sanjai  70   18

In [6]:
import numpy as np
import pandas as pd
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=["3rd","4th"])
print(info)
a=info.sort_index()
print(a)
b=a.sort_values(by='3rd')
print(b)

        3rd       4th
3  0.343515  0.630294
2 -0.756213  0.155975
0  2.447543 -0.252634
4 -0.100168  0.040340
1  1.161478  0.973156
        3rd       4th
0  2.447543 -0.252634
1  1.161478  0.973156
2 -0.756213  0.155975
3  0.343515  0.630294
4 -0.100168  0.040340
        3rd       4th
2 -0.756213  0.155975
4 -0.100168  0.040340
3  0.343515  0.630294
1  1.161478  0.973156
0  2.447543 -0.252634

In [7]:
import pandas as pd
import numpy as np
left =pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'Sub':['Sub1','Sub2','Sub4','Sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Saran','Som','Ruba'],'Sub':['Sub2','Sub4','Sub3','Sub5']})
print(left)
print(right)
print(pd.merge(left,right,on="id"))

   id  Name   Sub
0   1   Sai  Sub1
1   2   Poo  Sub2
2   3  Saba  Sub4
3   4  Yuvi  Sub3
   id    Name   Sub
0   1  Sanjay  Sub2
1   2   Saran  Sub4
2   3     Som  Sub3
3   4    Ruba  Sub5
   id Name_x Sub_x  Name_y Sub_y
0   1    Sai  Sub1  Sanjay  Sub2
1   2    Poo  Sub2   Saran  Sub4
2   3   Saba  Sub4     Som  Sub3
3   4   Yuvi  Sub3    Ruba  Sub5