In [6]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901512Excel - 1.csv")
print(d)

    S.No        Name  Age  Gender  Salary Login Time  Bonus           Team
0      1       Vijay   21    Male   10000    9:00 AM   2000          Admin
1      2    Harshini   19  Female   50000   10:00 AM   1000   Event Manag.
2      3  Lakshmanan   20    Male   20000    8:00 AM   3000        Testing
3      4     Kishore   20    Male   25000    9:00 AM   2000        Testing
4      5       Fahim   20    Male   21000    9:00 AM   1000  Manufacturing
..   ...         ...  ...     ...     ...        ...    ...            ...
95    96      Mugesh   20    Male   40000    7:00 AM    500  Manufacturing
96    97    Sivaguru   20    Male   60000   10:00 AM   1000    Maintenance
97    98      Ganesh   20    Male   80000    9:00 AM   2000    Maintenance
98    99      Harish   20    Male   90000    8:00 AM   3000            R&D
99   100      Sanjay   20    Male   26000   10:00 AM   1000        Finance

[100 rows x 8 columns]

In [10]:
import pandas as pd
df=pd.DataFrame(d)
print("columns :",df.columns)
print(df.shape)

columns : Index(['S.No', 'Name', 'Age', 'Gender', 'Salary', 'Login Time', 'Bonus',
       'Team'],
      dtype='object')
(100, 8)

In [12]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901512Excel - 1.csv")
print("Name",df['Name'])

Name 0          Vijay
1       Harshini
2     Lakshmanan
3        Kishore
4          Fahim
         ...
95        Mugesh
96      Sivaguru
97        Ganesh
98        Harish
99        Sanjay
Name: Name, Length: 100, dtype: object

In [14]:
print(df[5:10])

   S.No      Name  Age Gender  Salary Login Time  Bonus           Team
5     6    Mugesh   20   Male   40000    7:00 AM    500  Manufacturing
6     7  Sivaguru   20   Male   60000   10:00 AM   1000    Maintenance
7     8    Ganesh   20   Male   80000    9:00 AM   2000    Maintenance
8     9    Harish   20   Male   90000    8:00 AM   3000            R&D
9    10    Sanjay   20   Male   26000   10:00 AM   1000        Finance

In [16]:
print(" Particular person Data",df.loc[2])

 Particular person Data S.No                   3
Name          Lakshmanan
Age                   20
Gender              Male
Salary             20000
Login Time       8:00 AM
Bonus               3000
Team             Testing
Name: 2, dtype: object

In [18]:
print(d.loc[d['Salary']==50000])

    S.No      Name  Age  Gender  Salary Login Time  Bonus          Team
1      2  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
10    11  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
19    20  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
28    29  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
37    38  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
46    47  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
55    56  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
64    65  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
73    74  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
82    83  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.
91    92  Harshini   19  Female   50000   10:00 AM   1000  Event Manag.