In [1]:
import pandas as pd
import numpy as np
d=pd.DataFrame({'A':['Abi','Babu','Charles','Darwin','Abi','Charles','Darwin'],'B':['One','Two','Three','One','Two','Three','One'],'C':np.random.randint(7,size=7),'D':np.random.randint(7,size=7)})
print("Original DataFrame:\n",d)

Original DataFrame:
          A      B  C  D
0      Abi    One  1  3
1     Babu    Two  6  0
2  Charles  Three  6  5
3   Darwin    One  3  2
4      Abi    Two  6  0
5  Charles  Three  5  2
6   Darwin    One  5  6

In [2]:
d1=d.groupby(['A'],as_index=False)['C'].sum()
print("\nOriginal Dataframe:\n",d)
print('\nGrouped Dataframe with one column:\n',d1)

Original Dataframe:
          A      B  C  D
0      Abi    One  1  3
1     Babu    Two  6  0
2  Charles  Three  6  5
3   Darwin    One  3  2
4      Abi    Two  6  0
5  Charles  Three  5  2
6   Darwin    One  5  6

Grouped Dataframe with one column:
          A   C
0      Abi   7
1     Babu   6
2  Charles  11
3   Darwin   8

In [3]:
d1=d.groupby(['A','B'],as_index=False)['C'].sum()
print("\nOriginal Dataframe:\n",d)
print('\nGrouped Dataframe with two column:\n',d1)

Original Dataframe:
          A      B  C  D
0      Abi    One  1  3
1     Babu    Two  6  0
2  Charles  Three  6  5
3   Darwin    One  3  2
4      Abi    Two  6  0
5  Charles  Three  5  2
6   Darwin    One  5  6

Grouped Dataframe with two column:
          A      B   C
0      Abi    One   1
1      Abi    Two   6
2     Babu    Two   6
3  Charles  Three  11
4   Darwin    One   8

In [4]:
d=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print(d)
d1=d.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(d1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20