In [1]:
import pandas as pd
d1={"Name":['sai','sub','poo'],"Age":[19,23,21]}
d2={"Qualified":[True,False,True]}

In [3]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
#Join function
newdf=df1.join(df2)
print(newdf)

  Name  Age
0  sai   19
1  sub   23
2  poo   21
   Qualified
0       True
1      False
2       True
  Name  Age  Qualified
0  sai   19       True
1  sub   23      False
2  poo   21       True

In [5]:
#MERGE function
d1={"Name":['sai','sub','poo'],"Age":[19,23,21]}
d2={"Name":['Anbu','doss','guru'],"Age":[19,23,21]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="Age",how="right"))
newdf2=(df1.merge(df2,on="Age",how="left"))
print(newdf1)
print(newdf2)

  Name  Age
0  sai   19
1  sub   23
2  poo   21
   Name  Age
0  Anbu   19
1  doss   23
2  guru   21
  Name_x  Age Name_y
0   Anbu   19    sai
1   doss   23    sub
2   guru   21    poo
  Name_x  Age Name_y
0    sai   19   Anbu
1    sub   23   doss
2    poo   21   guru

In [9]:
#combine_function
df1=pd.DataFrame([[11,12],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
print(df1)
print(df2)
print(df1.combine(df2,myfunc))

    0   1
0  11  12
1   3   4
   0  1
0  5  6
1  7  8
    0   1
0  11  12
1   3   4

In [11]:
# Create DataFrame
df=pd.DataFrame({'team':['A','B','C','D'],
                 'points':[90,56,78,88],
                 'assists':[12,34,23,44],
                 'rebounds':[56,43,55,12]})
# View DataFrame
print(df)
#reshape DataFrame from wide format to long format
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
#View updated DataFrame
print("\nReshaped DataFrame:\n",df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12

Reshaped DataFrame:
    team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12