In [3]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
a=a.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",a)
print("\n")
print("Dropped DataFrame:\n",a.dropna())

Original Dataframe:
         One       Two     Three
a -1.179061  0.425388 -0.114048
b  0.964816  0.046510  0.206405
c       NaN       NaN       NaN
d -0.705390  1.346414 -0.718920
e       NaN       NaN       NaN
f  0.470078 -1.261629  0.914977


Dropped DataFrame:
         One       Two     Three
a -1.179061  0.425388 -0.114048
b  0.964816  0.046510  0.206405
d -0.705390  1.346414 -0.718920
f  0.470078 -1.261629  0.914977

In [4]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
a=a.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",a)
print("\n")
print("Nan replaced with '1':\n")
print(a.fillna(1))

Original Dataframe:
         One       Two     Three
a  0.768553  0.098252  0.406664
b -1.979021 -0.635870 -0.433728
c       NaN       NaN       NaN
d -0.013781 -2.425019  0.353654
e       NaN       NaN       NaN
f -0.510388 -0.355662 -0.414127


Nan replaced with '1':

        One       Two     Three
a  0.768553  0.098252  0.406664
b -1.979021 -0.635870 -0.433728
c  1.000000  1.000000  1.000000
d -0.013781 -2.425019  0.353654
e  1.000000  1.000000  1.000000
f -0.510388 -0.355662 -0.414127

In [5]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
a=a.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",a)
print("\nNaN with true fill:\n")
print(a['One'].isnull())

Original Dataframe:
         One       Two     Three
a  2.609439  1.014908  1.052612
b  0.337855  0.109819 -0.000040
c       NaN       NaN       NaN
d  0.222145 -0.330914 -0.193801
e       NaN       NaN       NaN
f  0.423223  1.463535  0.229052

NaN with true fill:

a    False
b    False
c     True
d    False
e     True
f    False
Name: One, dtype: bool

In [6]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
a=a.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",a)
print("\nNaN filled with background values:\n")
print(a.fillna(method='bfill'))

Original Dataframe:
         One       Two     Three
a -0.034135  0.208485  0.697650
b -1.172502  1.579669  0.341513
c       NaN       NaN       NaN
d -0.796421 -1.559678 -1.703536
e       NaN       NaN       NaN
f -0.306517  0.290655 -0.868410

NaN filled with background values:

        One       Two     Three
a -0.034135  0.208485  0.697650
b -1.172502  1.579669  0.341513
c -0.796421 -1.559678 -1.703536
d -0.796421 -1.559678 -1.703536
e -0.306517  0.290655 -0.868410
f -0.306517  0.290655 -0.868410

In [8]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
a=a.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",a)
print("\nNaN filled with forward values:\n")
print(a.fillna(method='ffill'))

Original Dataframe:
         One       Two     Three
a -1.496771  1.029093  0.770448
b -0.325798  0.766839  0.312233
c       NaN       NaN       NaN
d  0.899719  0.911074 -0.973045
e       NaN       NaN       NaN
f  0.297678 -0.992858 -1.503191

NaN filled with forward values:

        One       Two     Three
a -1.496771  1.029093  0.770448
b -0.325798  0.766839  0.312233
c -0.325798  0.766839  0.312233
d  0.899719  0.911074 -0.973045
e  0.899719  0.911074 -0.973045
f  0.297678 -0.992858 -1.503191

In [11]:
import pandas as pd
import numpy as np
a=pd.DataFrame({'One':[10,20,80,40,50],'Two':[60,70,80,0,10]})
print("Original Dataframe:\n",a)
print("\nDataframe with replaced values:\n")
print(a.replace({10:5,80:30}))

Original Dataframe:
    One  Two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

Dataframe with replaced values:

   One  Two
0    5   60
1   20   70
2   30   30
3   40    0
4   50    5