In [1]:
import pandas as pd
car_selling_data ={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],
'Year':[2010, 2011, 2009, 2013, 2010, 2011, 2011, 2010, 2013, 2010, 2010, 2011],
'Sold':[6, 7, 9, 8, 3, 5,2, 8, 7, 2, 4, 2]}

#Creating DataFrame for provided Data
df = pd. DataFrame(car_selling_data)
print("\nOriginal DataFrame:\n",df)

#Group the data when year= 2020
grouped = df.groupby('Year')
print("\nGroup by year 2010:\n",grouped.get_group(2010))

Original DataFrame:
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

Group by year 2010:
        Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [3]:
#initializing Data
student_data = {'Name': ['Amit', 'Praveen', 'Jagadesh','Rahul', 'Vishal', 'Suraj','Rishab', 'Sathish',
'Amit','Rahul', 'Praveen', 'Amit'],
'Roll_no': [23,54,29,36,23,38,12,45,34,36,54,23],
'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com',
'xxxx@gmail.com', 'xxxxx@gmail.com','xxxxx@gmail.com', 'xxxxx@gmail.com',
'xxxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxxxxxx@gmail.com',
'xxxxxxxxxx@gmail.com']}

#Creating dataframe
df=pd.DataFrame(student_data)
print("\nOriginal DataFrame:\n",df)
#Here df.duplicated() list duplicate entrines in rollno.
#so that (NOT) is placed in order to get non duplicate values.
non_duplicate = df[~df.duplicated('Roll_no')]
#printing non duplicate values.

print("\nRemoved duplicated rows:\n",non_duplicate)

Original DataFrame:
         Name  Roll_no                 Email
0       Amit       23        xxxx@gmail.com
1    Praveen       54      xxxxxx@gmail.com
2   Jagadesh       29      xxxxxx@gmail.com
3      Rahul       36          xx@gmail.com
4     Vishal       23        xxxx@gmail.com
5      Suraj       38       xxxxx@gmail.com
6     Rishab       12       xxxxx@gmail.com
7    Sathish       45       xxxxx@gmail.com
8       Amit       34       xxxxx@gmail.com
9      Rahul       36      xxxxxx@gmail.com
10   Praveen       54  xxxxxxxxxx@gmail.com
11      Amit       23  xxxxxxxxxx@gmail.com

Removed duplicated rows:
        Name  Roll_no             Email
0      Amit       23    xxxx@gmail.com
1   Praveen       54  xxxxxx@gmail.com
2  Jagadesh       29  xxxxxx@gmail.com
3     Rahul       36      xx@gmail.com
5     Suraj       38   xxxxx@gmail.com
6    Rishab       12   xxxxx@gmail.com
7   Sathish       45   xxxxx@gmail.com
8      Amit       34   xxxxx@gmail.com

In [5]:
#creating datafram
details=pd.DataFrame({'ID':[101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME':['Arun', 'Praveen', 'Harish','Pooja', 'Rahul', 'Naresh','Saurabh','Anush','Dinesh',
'Mohit'],

'BRANCH':['Mech', 'Mech', 'CSE', 'CSE', 'CSE', 'EEE','EEE', 'ECE', 'ECE', 'IT']})
print("\nOriginal DataFrame 1:\n", details)
#creating datafram
fees_status=pd.DataFrame ({'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['5000', '250', 'NIL', '9000', '15000', 'NIL', '4500', '1800', '250', 'NIL']})
print("\nOriginal DataFrame:\n", fees_status)
#mergind dataframe
print("\nMerged Dataframe\n",pd.merge(details,fees_status,on='ID'))

Original DataFrame 1:
     ID     NAME BRANCH
0  101     Arun   Mech
1  102  Praveen   Mech
2  103   Harish    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Naresh    EEE
6  107  Saurabh    EEE
7  108    Anush    ECE
8  109   Dinesh    ECE
9  110    Mohit     IT

Original DataFrame:
     ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL

Merged Dataframe
     ID     NAME BRANCH PENDING
0  101     Arun   Mech    5000
1  102  Praveen   Mech     250
2  103   Harish    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Naresh    EEE     NIL
6  107  Saurabh    EEE    4500
7  108    Anush    ECE    1800
8  109   Dinesh    ECE     250
9  110    Mohit     IT     NIL