In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    1.794214
2011-01-05    0.260291
2011-01-07   -0.253796
2011-01-08    1.030307
2011-01-10    0.638278
2011-01-12   -0.897492
dtype: float64

In [7]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [9]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [11]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
 index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.285051
2000-01-02   -0.105261
2000-01-03   -0.412786
2000-01-04   -0.096039
2000-01-05    0.714578
                ...
2002-09-22    0.233516
2002-09-23    1.712355
2002-09-24    0.121372
2002-09-25    0.306046
2002-09-26   -2.577445
Freq: D, Length: 1000, dtype: float64

In [13]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.154212
2001-01-02    1.267492
2001-01-03    2.507685
2001-01-04   -0.348360
2001-01-05    2.118487
                ...
2001-12-27   -0.203689
2001-12-28    1.679332
2001-12-29    0.899428
2001-12-30   -2.541365
2001-12-31   -0.897642
Freq: D, Length: 365, dtype: float64

In [15]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    0.687466
2001-05-02   -0.677312
2001-05-03   -0.503653
2001-05-04   -0.091304
2001-05-05    0.399022
2001-05-06   -0.923665
2001-05-07   -0.904368
2001-05-08   -0.678198
2001-05-09   -0.393294
2001-05-10    1.312379
2001-05-11    0.185700
2001-05-12    1.438811
2001-05-13    0.268785
2001-05-14    0.044384
2001-05-15   -0.318304
2001-05-16    1.815833
2001-05-17    0.483807
2001-05-18   -0.935485
2001-05-19    0.468836
2001-05-20    0.320625
2001-05-21   -2.256620
2001-05-22    0.690362
2001-05-23   -0.316509
2001-05-24   -0.951336
2001-05-25    0.723880
2001-05-26   -1.483873
2001-05-27    0.182147
2001-05-28    1.554106
2001-05-29    0.710406
2001-05-30   -1.998184
2001-05-31   -0.813211
Freq: D, dtype: float64

In [17]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.285051
2000-01-02   -0.105261
2000-01-03   -0.412786
2000-01-04   -0.096039
2000-01-05    0.714578
Freq: D, dtype: float64

In [19]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.024318
2000-02-02   -1.310798
2000-02-03   -0.257450
2000-02-04   -1.668268
2000-02-05   -0.264553
2000-02-06   -0.603653
2000-02-07    0.960593
2000-02-08    0.943242
2000-02-09    0.401476
2000-02-10    0.467021
2000-02-11    1.139884
2000-02-12    0.581171
2000-02-13    1.087954
2000-02-14    0.723273
2000-02-15    1.511999
Freq: D, dtype: float64

In [21]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.689796
2000-09-27    0.276667
2000-09-28    0.271660
2000-09-29   -1.138785
2000-09-30   -0.458270
                ...
2002-09-22    0.233516
2002-09-23    1.712355
2002-09-24    0.121372
2002-09-25    0.306046
2002-09-26   -2.577445
Freq: D, Length: 731, dtype: float64

In [23]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26   -0.142613
2001-09-27    0.222918
2001-09-28    0.451803
2001-09-29   -0.519727
2001-09-30   -0.743005
                ...
2002-09-21   -1.702197
2002-09-22    0.233516
2002-09-23    1.712355
2002-09-24    0.121372
2002-09-25    0.306046
Freq: D, Length: 365, dtype: float64